<!-- templates/partials/item_form.html -->

<fieldset>
        <legend>{{ title }}</legend>
        <!-- TITLE -->
        <p>
            <label for='item-title'>Title</label><br>
            <input id='item-title' type='text' name='title' value='{{ item.title }}'/>
        </p>
        <!-- DESCRIPTION -->
        <p>
          <label for='description'>Description</label><br>
          <input id='description' type='text' name='description' value='{{ item.description }}' />
        </p>
        <!-- Image Links -->
        <p>
          <label for='image'>Image URL</label><br>
          <input type="text" name="img_url"><br>
        </p>
    </fieldset>
    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Playlist</button>
    </p>