<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<h1 style=text-align:center class="mt-5">Items</h1>


<a href='/item/new'>New item</a>
{% for item in items %}

<div class="card container text-center mt-5" style="width: 26rem;">
    
        <div class="row justify-content-center">
            <div style="display: inline-block">
                <img src="{{ item.image }}" class="card-img-top" alt="..." height="500px" width="auto">
                <div class="col-sm">
                    <div class="card-body">
                        <h5 class="card-title"><a href='/item/{{ item._id }}'>{{ item.title }}</a></h5>
                        <p class="card-text">{{ item.description|safe|truncate(200) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
