{% extends 'base.html' %}

{% block content %}

<a href="/">Back to Home</a>

<h1>Edit Item</h1>


<fieldset>
    <form action="/edit/{{item._id}}" method="POST">
    Name of Item: <input type="text" name="name" value="{{item.name}}"><br>
    Description of Item: <input type="text" name="description" value="{{item.description}}"><br>
    Image URL: <input type="text" name="img_url" value="{{item.img_url}}"><br>
    <button type="submit">Submit</button><br>
    </form>
</fieldset>


{% endblock %}