<!-- templates/new_item.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/playlists'>
    <fieldset>
    <legend>New Item</legend>
    <!-- TITLE -->
    <p>
        <label for='title'>Title</label><br>
        <input id='item-title' type='text' name='title' />
    </p>
    <p>
        <label for='description'>Description</label><br>
        <input id='description' type='text' name='description' />
    </p>
    <p>
        <label for='price'>Price</label><br>
        <input id='price' type='number' name='price'/>
    </p>
    <p>
        <label for='image'>Url for item</label><br>
        <input id='image' type='text' name='image'/>
    </p>
    
</fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Item</button>
    </p>
</form>
{% endblock %}